
.login-form {
  display: grid;
  grid-template-rows: 1.5fr 1.5fr 1fr;
  place-items: center;
  margin: 0 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-style: solid;
  border-radius: 2px;
  border-width: 4px;
  box-shadow: 1px 1px 50px rgba(70, 0, 70, 0.6);
}

.form-button {
  width: 350px;
  height: 36px;
  border-radius: 16px;
  border: darkmagenta;
  font-family: 'Press Start 2P';
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: rgb(70, 0, 70);
  color: white;
}