
.create-playlist-page-section {
  grid-template-rows: 1fr;
}

.playlist-info-container {
  grid-template-rows: 0.5fr 0.8fr 0.3fr;
  margin-top: 2%;
}

.playlist-name-container {
  grid-template-rows: 0.5fr 1fr;
  width: 90%;
  justify-items: stretch;
}

.playlist-description-container {
  grid-template-rows: 0.5fr 2fr;
  width: 90%;
  justify-items: stretch;
  margin-top: 2%;
}

.playlist-type-container {
  grid-template-rows: 0.5fr 1fr;
  width: 90%;
}

.type-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60%;
  height: 100%;
  align-items: center;
  justify-items: center;
}

.label-container {
  display: grid;
  width: 100%;
}

.playlist-picture {
  width: 60%;
  height: 60%;
}


.playlist-label {
  color: white;
  font-family: 'Press Start 2P';
  font-size: 17px;
  margin-bottom: 0;
  padding-top: 3%;
}


.playlist-name-field, .playlist-name-field::placeholder,
.playlist-description-field, .playlist-description-field::placeholder {
  font-family: 'Press Start 2P';
  color: black;
  text-indent: 1%;
  font-size: 0.9375rem;
}

.playlist-description-field:focus::placeholder,
.playlist-name-field:focus::placeholder {
  color: transparent;
}

.playlist-name-field {
  height: 60%;
  border-style: solid;
  border-radius: 2px;
  border-color: darkmagenta;
  transition: box-shadow 0.15s, border-wdith 0.15s;
}


.playlist-description-field {
  height: 70%;
  border-style: solid;
  border-radius: 2px;
  border-color: darkmagenta;
  border-width: 3px;
  resize: none;
  transition: box-shadow 0.15s, border-wdith 0.15s;
}

.playlist-name-field:hover {
  box-shadow: 1px 1px 5px rgba(70, 0, 70, 0.6);
  border-width: 3px;
}

.playlist-description-field:hover {
  box-shadow: 1px 1px 5px rgba(70, 0, 70, 0.6);
  border-width: 4px;
}

.type-playlist {
  color: white;
  font-family: 'Press Start 2P';
  font-size: 1rem;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  padding-bottom: 21%;
  height: 100%;
  transition: font-size 0.15s;
}

.type-playlist:active {
  font-size: 19px;
}

.active-playlist-type {
  color: rgb(70, 0, 70);
  font-size: 1.1875rem;
  transition: font-size 0.15s;
}

.active-playlist-type:active {
  font-size: 1.125rem;
}

