
.song-volume-container {
  grid-template-columns: 1fr 1fr;
}

.mute-button-container {
  justify-items: end;
}

.volume-slider {
  width: 85%;
  height: 50%;
  cursor: pointer;
  background-color: rgb(70, 0, 70);
}


