
.add-song-section {
  grid-template-rows: 1fr;
}

.add-song-info-container {
  grid-template-rows: 1fr 1fr 1fr;
  padding-right: 5%;
}


.song-picture-upload-container {
  grid-template-rows: 3fr 1fr;
  position: relative;
}

.song-picture-container {
  position: relative;
  border-radius: 100%;
  transition: opacity 0.15s;
}

.song-picture {
  background-color: rgb(70, 0, 70);
  width: 65%;
  height: 70%;
  border-radius: 10px;
  cursor: pointer;
  transition: filter 0.15s;
  border: 3px solid white;
}

.change-image-text-song {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Press Start 2P';
  font-size: 1.125rem;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transition: opacity 0.15s;
}

.song-picture:hover {
  filter: brightness(70%);
}

.song-picture-container:hover .change-image-text-song{
  opacity: 1;
}

.song-label {
  color: white;
  font-family: 'Press Start 2P';
  font-size: 1.0625rem;
  margin-bottom: 0;
  padding-top: 2.5%;
}

.song-data-input-container {
  grid-template-rows: 1fr 1fr;
  width: 90%;
  justify-items: stretch;
}

.song-year-upload-container {
  grid-template-columns: 1fr 1fr;
  width: 90%;
}

.upload-container {
  grid-template-columns: 2fr 0.5fr;
}

.upload-button {
  width: 70%;
  height: 50%;
  border-radius: 10px;
  border: 3px solid white;
  font-family: 'Press Start 2P';
  font-size: 0.8125rem;
  text-align: center;
  cursor: pointer;
  background-color: rgb(70, 0, 70);
  color: white;
  transition: transform 0.15s, width 0.15s, height 0.15s, font-size 0.15s, border-radius 0.15s;
}

.upload-button:hover {
  width: 71%;
  height: 51%;
  font-size: 0.875rem;
  border-radius: 11px;
}

.upload-button:active {
  transform: translate(1px, 1px);
  width: 70%;
  height: 50%;
  font-size: 0.875rem;
  border-radius: 10px;
}

.upload-button-container {
  align-items: start;
}

.song-input-field, .song-input-year {
  font-family: 'Press Start 2P';
  color: black;
  text-indent: 2%;
  font-size: 0.9375rem;
  border-style: solid;
  border-radius: 2px;
  border-color: darkmagenta;
  transition: box-shadow 0.15s, border-wdith 0.15s;
}

.song-input-field:hover, .song-input-year:hover {
  box-shadow: 1px 1px 5px rgba(70, 0, 70, 0.6);
  border-width: 3px;
}

.song-input-field {
  width: 100%;
  height: 65%;
}

.song-input-year {
  width: 100%;
  height: 60%;
}

.song-input-container {
  align-items: start;
}

.song-year-input-container {
  display: grid;
  width: 100%;
  height: 100%;
  align-items: center;
  padding-bottom: 3%;
}

.song-input-year::placeholder, .song-input-field::placeholder {
  font-size: 0.8125rem;
  color: black;
}

.song-input-year:focus::placeholder,
.song-input-field:focus::placeholder {
  color: transparent;
}

.uploaded-song-icon-container {
  height: 72%;
  align-items: start;
  justify-items: start;
  cursor: pointer;
}

.uploaded-song-icon {
  color: white;
  width: 30%;
  height: 30%;
}

.song-type-container {
  grid-template-rows: 1fr 1fr;
  padding-left: 10%;
  justify-items: stretch;
}

.song-types {
  grid-template-columns: 1fr 1fr;
  width: 80%;
  padding-left: 10%;
}