.playlist-page-section {
  grid-template-rows: 1.5fr 0.35fr 2.5fr;
}

.playlist-page-info-container {
  grid-template-columns: 1fr 5fr 0.3fr;
  width: 95%;
  height: 25vh;
  border-bottom: solid white;
}

.playlist-info-left-container {
  grid-template-rows: 5fr 1fr;
}

.playlist-info-right-container {
  grid-template-rows: 3.5fr 1.5fr 1fr;
}

.playlist-page-picture-container {
  position: relative;
}

.playlist-page-picture {
  position: absolute;
  background-color: rgb(70, 0, 70);
  width: 65%;
  height: 80%;
  object-fit: cover;
  border-radius: 10px;
}

.playlist-page-type {
  color: white;
  font-family: 'Press Start 2P';
  width: 100%;
  height: 100%;
  user-select: none;
  text-align: center;
  font-size: 1rem;
}

.playlist-page-name-container {
  align-items: end;
  justify-items: start;
}

.playlist-page-description-container {
  align-items: start;
  justify-items: start;
}

.playlist-page-data-container {
  justify-items: start;
}

.playlist-page-name {
  width: 80%;
  user-select: none;
  font-family: 'Press Start 2P';
  color: white;
  font-size: 2.5rem;
  margin-left: 2%;
  padding-bottom: 3.7%;
}

.playlist-page-description {
  width: 80%;
  user-select: none;
  font-family: 'Press Start 2P';
  color: white;
  font-size: 1rem;
  margin-left: 2%;
}

.playlist-page-creator-container {
  align-items: start;
  justify-items: start;
}

.playlist-page-creator {
  width: 80%;
  user-select: none;
  font-family: 'Press Start 2P';
  color: white;
  margin-left: 2%;
  font-size: 0.875rem;
}

.playlist-songs-container {
  grid-auto-rows: 15.5%;
  gap: 5%;
  width: 90%;
  height: 45vh;
}

.playlist-songs-info-control-container {
  grid-template-columns: 0.3fr 2.1fr 0.5fr 1fr 0.7fr 0.7fr;
  width: 90%;
}

.playlist-songs-play-button-container {
  position: relative;
}

.filler-container {
  position: relative;
  justify-items: start;
}

.playlist-songs-shuffle-button {
  padding-left: 5%;
}

.playlist-songs-play-button {
  padding-top: 2%;
  font-size: 2rem;
}


.playlist-songs-info {
  color: white;
  font-family: 'Press Start 2P';
  user-select: none;
}

.playlist-songs-uploader {
  justify-items: end;
}

.playlist-songs-upload-date {
  justify-items: start;
}

.playlist-songs-duration-text {
  padding-right: 11%;
}

.playlist-songs-upload-date-text {
  padding-left: 5%;
}

.burger-menu-button-container {
  align-items: start;
  height: 55%;
  position: relative;
}

.playlist-burger-menu {
  font-size: 2.5rem;
  transition: color 0.15s;
}

.playlist-burger-menu:hover {
  color: rgb(171, 169, 169);
}

.playlist-burger-menu:active {
  color: white;
}