
.playlist-box {
  display: grid;
  grid-template-rows: 2.5fr 1fr 0.8fr;
  align-items: center;
  justify-items: center;
  width: 90%;
  height: 90%;
  border: 3px solid white;
  background-color: rgb(70, 0, 70);
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.15s, width 0.15s, height 0.15s, border-radius 0.15s;
}

.playlist-box:hover {
  width: 91%;
  height: 91%;
  border-radius: 16px;
}

.playlist-box:active {
  transform: translate(1px, 1px);
  width: 90%;
  height: 90%;
  border-radius: 15px;
}

.playlist-image {
  display: grid;
  width: 80%;
  height: 80%;
  border-radius: 10px;
  border: 3px solid white;
  background-size: cover;
  background-position: center;
}

.playlist-name {
  font-family: 'Press Start 2P';
  color: white;
  font-size: 1.25rem;
  text-align: center;
  width: 80%;
}


.playlist-creator {
  font-family: 'Press Start 2P';
  color: white;
  font-size: 0.8125rem;
  text-align: center;
}