
.register-form {
  display: grid;
  grid-template-rows: 1.2fr 1.2fr 1.2fr 1fr;
  align-items: center;
  justify-items: center;
  margin: 0 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-style: solid;
  border-radius: 2px;
  border-width: 4px;
  box-shadow: 1px 1px 50px rgba(70, 0, 70, 0.6);
}

.register-form-button {
  width: 350px;
  height: 36px;
  border: darkmagenta;
  border-radius: 16px;
  font-family: 'Press Start 2P';
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  background-color: rgb(70, 0, 70);
  color: white;
  transition: transform 0.15s, width 0.15s, height 0.15s, font-size 0.15s, border-radius 0.15s;
}

.register-form-button:active {
  transform: translate(1px, 1px);
  width: 350px;
  height: 36px;
  font-size: 12px;
  border-radius: 16px;
}

.register-form-button:hover {
  width: 352px;
  height: 38px;
  font-size: 13px;
  border-radius: 18px;
}