
.profile-container {
  grid-template-columns: 1fr 5fr;
  width: 95%;
}

.profile-picture-container {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 90%;
}


.profile-picture-container::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.profile-picture {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 85%;
  height: 85%; 
  object-fit: cover;
  border-radius: 50%;
}

.user-profile-info-container {
  grid-template-rows: 0.8fr 0.5fr;
  margin-left: 0;
  justify-items: start;
}

.user-username-header {
  font-size: 2.5rem;
  color: white;
  width: 80%;
  font-family: 'Press Start 2P';
  user-select: none;
  margin-top: 2%;
  margin-bottom: 0;
  margin-left: 3%;
}

.profile-picture-container:hover, .picture-text-pop-up {
  opacity: 1;
}
