
.profile-section {
  display: grid;
  grid-template-rows: 2fr 0.5fr 4fr;
  position: absolute;
  justify-items: center;
  width: 100%;
  top: 9.7%;
  bottom: 8%;
  background-color: tran;
  overflow-y: scroll;
  overflow-x: hidden;
}

.playlists-header-container {
  display: grid;
  height: 100%;
  width: 95%;
  margin-top: 1%;
  align-items: center;
  justify-items: start;
  border-top: solid white;
  padding-top: 0.5%;
}

.playlists-header {
  width: 95%;
  font-family: 'Press Start 2P';
  color: white;
  font-size: 1.5rem;
  margin: 0;
  margin-left: 3%;
  padding-top: 1%;
}


