
.navbar {
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: 1.2fr 1.2fr 1.2fr 3.5fr 1.2fr;
  place-items: center;
  height: 10%;
  width: 100%;
  background-color: black;
  border-bottom: solid white;
  border-top: solid white;
}

.nav-bar-button {
  height: 50px;
  width: 215px;
  font-family: 'Press Start 2P';
  font-size: 13px;
  border-radius: 16px;
  border: darkmagenta;
  text-align: center;
  cursor: pointer;
  background-color: rgb(70, 0, 70);
  color: white;
}

.search-bar-container {
  position: relative;
}

.search-button {
  position: absolute;
  top: 50%;
  right: 20px;
  padding-right: 0;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
  color: black;
}

.search-bar, .search-bar::placeholder {
  text-indent: 12px;
  font-size: 13px;
  color: black;
}

.search-bar {
  height: 50px;
  width: 650px;
  border-radius: 24px;
  border-style: solid;
  box-sizing: border-box;
}

