
.profile-buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr;
  align-items: center;
  justify-items: start;
  width: 100%;
  height: 100%;
  margin-left: 2.5%;
}

.profile-button {
  height: 55%;
  width: 65%;
  font-family: 'Press Start 2P';
  font-size: 0.857rem;
  border-radius: 18px;
  border: darkmagenta;
  text-align: center;
  cursor: pointer;
  background-color: rgb(70, 0, 70);
  color: white;
  margin-left: 15%;
  margin-bottom: 5%;
  padding: 0;
  transition: transform 0.15s height 0.15s, width 0.15s font-size 0.15s border-radius 0.15s;
}

.profile-button:hover {
  height: 56%;
  width: 66%;
  font-size: 0.9375rem;
  border-radius: 19px;
}

.profile-button:active {
  transform: translate(1px, 1px);
  height: 56%;
  width: 66%;
  font-size: 0.9375rem;
  border-radius: 18px;
}