
.change-password-section {
  display: grid;
  background-color: rgba(6, 1, 13, 0.925);
  align-items: center;
  justify-items: center;
  width: 100%;
  position: absolute;
  top: 9.7%;
  bottom: 8%;
}

.change-password-field {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  align-items: center;
  justify-items: center;
  width: 65%;
  height: 80%;
  background-color: black;
  box-shadow: 1px 1px 100px rgba(70, 0, 70, 0.6);
  border-width: 5px;
  border-radius: 15px;
}

.change-password-header-container {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}

.change-password-header {
  color: white;
  font-family: 'Press Start 2P';
  padding-left: 70px;
  padding-right: 70px;
  user-select: none;
  text-align: center;
  border-bottom: 3px solid white;
  margin: 0;
  padding-bottom: 20px;
}

.change-password-field-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 90%;
  height: 100%;
  border: 4px solid white;
  border-radius: 2px;
}

.password-field-container {
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  width: 60%;
  height: 90%;
  align-items: center;
}

.password-label {
  color: white;
  font-family: 'Press Start 2P';
  font-size: 17px;
  margin-bottom: 0;
  padding-top: 20px;
}

.change-password-input {
  width: 100%;
  height: 55%;
  font-family: 'Press Start 2P';
  color: black;
  text-indent: 5px;
  font-size: 15px;
  border-style: solid;
  border-radius: 2px;
  border-color: darkmagenta;
  transition: box-shadow 0.15s, border-wdith 0.15s;
  padding-right: 40px;
  box-sizing: border-box;
}

.change-password-button-container {
  display: grid;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
}

.change-password-input::placeholder {
  font-size: 15px;
  color: black;
}

.change-password-input:hover {
  box-shadow: 1px 1px 5px rgba(70, 0, 70, 0.6);
  border-width: 3px;
}

.change-password-input:focus::placeholder {
  color: transparent;
}

.change-password-button {
  width: 375px;
  height: 50px;
  border-radius: 16px;
  border: darkmagenta;
  font-family: 'Press Start 2P';
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(70, 0, 70);
  color: white;
  transition: transform 0.15s, width 0.15s, height 0.15s, font-size 0.15s, border-radius 0.15s;
}

.change-password-button:hover {
  width: 377px;
  height: 52px;
  font-size: 15px;
  border-radius: 17px;
}

.change-password-button:active {
  transform: translate(1px, 1px);
  width: 375px;
  height: 50px;
  font-size: 15px;
  border-radius: 16px;
}

.change-password-container {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 30px;
}

.change-password-eye-button {
  position: absolute;
  top: 50%;
  right: 3%;
  padding-right: 0;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}