
.change-password-section {
  display: grid;
  background-color: transparent;
  align-items: center;
  justify-items: center;
  width: 100%;
  position: absolute;
  top: 9.7%;
  bottom: 8%;
}

.change-password-field {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  align-items: center;
  justify-items: center;
  width: 65%;
  height: 80%;
  background-color: black;
  box-shadow: 
    -1px 0 50px rgba(70, 0, 70, 0.6),
    1px 0 50px rgba(70, 0, 70, 0.6);
  border-radius: 15px;
}

.change-password-header-container {
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.change-password-header {
  color: white;
  font-family: 'Press Start 2P';
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 5%;
  user-select: none;
  text-align: center;
  border-bottom: solid white;
  margin: 0;
  width: 100%;
  justify-items: center;
}

.change-password-field-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 90%;
  height: 100%;
  border: 4px solid white;
  border-radius: 2px;
}


.change-password-button-container {
  display: grid;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
}

.change-password-button {
  width: 25%;
  height: 40%;
  border-radius: 16px;
  border: darkmagenta;
  font-family: 'Press Start 2P';
  font-size: 0.875rem;
  text-align: center;
  cursor: pointer;
  background-color: rgb(70, 0, 70);
  color: white;
  transition: transform 0.15s, width 0.15s, height 0.15s, font-size 0.15s, border-radius 0.15s;
}

.change-password-button:hover {
  width: 26%;
  height: 41%;
  font-size: 0.9375rem;
  border-radius: 17px;
}

.change-password-button:active {
  transform: translate(1px, 1px);
  width: 25%;
  height: 40%;
  font-size: 0.9375rem;
  border-radius: 16px;
}

.change-password-container {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 30px;
}
