.streams-section {
  grid-template-rows: 0.8fr 5fr;
  margin-bottom: 1%;
}

.streams-header {
  color: white;
  margin-top: 0.8%;
  margin-bottom: 0;
  font-family: 'Press Start 2P';
  border-bottom: solid white;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 1%;
  user-select: none;
  text-align: center;
}
