
.edit-profile-section {
  grid-template-rows: 1fr;
}

.change-password-field-container {
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: stretch;
}

.edit-profile-picture {
  position: absolute;
  top: 12%;
  left: 12%;
  width: 75%;
  height: 75%; 
  object-fit: cover;
  border-radius: 50%;
}
