
.song-controller-container {
  grid-template-columns: 1fr 1fr 1fr;
}

.controller-container {
  grid-template-columns: 1fr 0.5fr 1fr;
}

.forward-container {
  justify-items: start;
}

.backward-container {
  justify-items: end;
}

.shuffle-songs-container {
  justify-items: end;
}

.song-controller-button {
  position: absolute;
  top: 50%;
  color: white;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.875rem;
  padding: 0;
}

.click {
  transition: color 0.15s;
}

.click:hover {
  color: rgb(171, 169, 169);
}

.click:active {
  color: white;
}

.stream-container {
  justify-items: start;
}

.active {
  color: rgb(70, 0, 70);
}