

.user-profile-info-container {
  display: grid;
  grid-template-rows: 0.8fr 0.5fr;
  width: 100%;
  align-items: center;
  margin-left: 0px;
}

.user-username-header {
  font-size: 40px;
  color: white;
  width: 80%;
  font-family: 'Press Start 2P';
  user-select: none;
  margin-top: 15px;
  margin-bottom: 0;
  margin-left: 40px;
}
