
.navbar {
  position: fixed;
  top: 0%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
  place-items: center;
  height: 9%;
  width: 100%;
  background-color: black;
  border-bottom: solid white;
  border-top: solid white;
}

.nav-bar-button {
  height: 50%;
  width: 75%;
  font-family: 'Press Start 2P';
  font-size: 0.8125rem;
  border-radius: 16px;
  border: 3px solid white;
  text-align: center;
  cursor: pointer;
  background-color: rgb(70, 0, 70);
  color: white;
  transition: transform 0.15s height 0.15s, width 0.15s font-size 0.15s border-radius 0.15s;
}

.nav-bar-button:hover {
  height: 51%;
  width: 76%;
  font-size: 0.875rem;
  border-radius: 17px;
}

.nav-bar-button:active {
  transform: translate(1px, 1px);
  height: 50%;
  width: 75%;
  font-size: 0.875rem;
  border-radius: 16px;
}

.search-bar-container {
  position: relative;
}

.search-button {
  position: absolute;
  top: 50%;
  right: 6%;
  padding-right: 0%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.25rem;
  color: black;
}

.search-bar, .search-bar::placeholder {
  text-indent: 3%;
  font-size: 0.8125rem;
}

.search-bar {
  height: 51%;
  width: 95%;
  border-radius: 24px;
  border-style: solid;
  box-sizing: border-box;
  color: black;
  padding-right: 8%;
}
