
.navbar {
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  place-items: center;
  height: 9%;
  width: 100%;
  background-color: black;
  border-bottom: solid white;
  border-top: solid white;
}

.nav-bar-button {
  height: 45px;
  width: 235px;
  font-family: 'Press Start 2P';
  font-size: 13px;
  border-radius: 16px;
  border: darkmagenta;
  text-align: center;
  cursor: pointer;
  background-color: rgb(70, 0, 70);
  color: white;
  transition: transform 0.15s height 0.15s, width 0.15s font-size 0.15s border-radius 0.15s;
}

.nav-bar-button:hover {
  height: 47px;
  width: 237px;
  font-size: 14px;
  border-radius: 18px;
}

.nav-bar-button:active {
  transform: translate(1px, 1px);
  height: 45px;
  width: 235px;
  font-size: 14px;
  border-radius: 16px;
}

.search-bar-container {
  position: relative;
}

.search-button {
  position: absolute;
  top: 50%;
  right: 20px;
  padding-right: 0;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
  color: black;
}

.search-bar, .search-bar::placeholder {
  text-indent: 12px;
  font-size: 13px;
  color: black;
}

.search-bar {
  height: 47px;
  width: 640px;
  border-radius: 24px;
  border-style: solid;
  box-sizing: border-box;
}

