
.song-data-container {
  grid-template-columns: 0.4fr 2fr;
}

.picture {
  width: 70%;
  height: 70%;
  border-radius: 10px;
  background-color: transparent;
}

.song-info-container {
  grid-template-rows: 1fr 1fr;
}

.player-bar-song-text {
  color: white;
  margin: 0;
  font-family: 'Press Start 2P';
  width: 90%;
  user-select: none;
}

.song-name-container {
  align-items: end;
  justify-items: start;
}

.song-artist-container {
  align-items: start;
  justify-items: start;
}

.player-bar-song-name {
  font-size: 0.8125rem;
  margin-bottom: 1%;
}

.player-bar-song-artist {
  font-size: 0.625rem;
  margin-top: 1%;
}
